<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.view_animation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ViewAnimation"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".CommonViewAnimationActivity">

        </activity>
        <activity android:name=".PopupWindowViewAnimationActivity"
            android:label="ViewAnimation in PopupWindow">

        </activity>
        <activity android:name=".ViewAnimationActivity"
            android:label="@string/module_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListViewAnimationActivity"
            android:label="Layout Animation">
        </activity>
    </application>

</manifest>